
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);

}
.nav{
    display: inline;
    color: purple;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    
}
.lis{
    font-size: 25px;
    background:purple;
    padding: 3.9px;
    color: white;
    border: solid;
    border-color: blueviolet;
}
nav{

    height: 41px;
    width: 100%;
    
}
.lis:hover{
    background: rgb(98, 2, 98);
}
a {
    text-decoration: none;
  }
.titles{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
color: aliceblue;
padding: 15px;
}
p{
    padding: 50px;
    font-size: 30px;
    color: purple;
}
.firstimg{
    width: 500px;
    height: 300px;
}